* {
    font: 12pt;
    font-family: "Noto Sans S Chinese Black", "Microsoft YaHei";
    text-align: center;
    color: #bbbbbb;
    background: transparent;
}

QWidget {
    font: 12pt;
    font-family: "Noto Sans S Chinese Black", "Microsoft YaHei";
    text-align: center;
    color: #bbbbbb;
    background: transparent;
}

QMenuBar {
    background-color: #444444;
    padding: 5px;
    font: 12pt "MS Shell Dlg 2";
}

QMenuBar::item {
    background-color: #444444;
    color: #f0f0ff;
    padding: 5px;
}

QMenu {
    color: #fafafa;
    padding: 0;
}

QMenu::item:selected {
    color: #fafafa;
    background-color: #00aaff;
}

QTableWidget {
    background-color: #3d3d3d;
    color: #fafafa;
    selection-background-color: #da532c;
    border: solid;
    border-width: 3px;
    border-color: #da532c;
}

QHeaderView::section {
    border: none;
    border-top-style: solid;
    border-width: 1px;
    color: #fafafa;

}

QHeaderView {
    border: none;
    border-top-style: solid;
    border-width: 1px;
    border-top-color: #00aaff;
    color: #fafafa;
    font: 75 12pt "Calibri";
}

QTableCornerButton::section {
    border: none;
    background-color: #00aaff;
}

QListWidget {
    background-color: #3d3d3d;
    color: #fafafa;
}

QMenu {
    background-color: #3d3d3d;
}

QStatusBar {
    background-color: #3d3d3d;
    color: #fafafa;
}

QTabWidget::tab {
    background-color: #3d3d3d;
}

QProgressBar {
    border-radius: 0;
    text-align: center;
    color: #fafafa;
    background-color: transparent;
    border: 2px solid #e3a21a;
    border-radius: 7px;
    font: 75 12pt "Open Sans";
}

QProgressBar::chunk {
    background-color: #00aaff;
    width: 25px;
}

QTextEdit {
    background: rgba(40, 40, 40, 135);
    height: 30px;

    border-width: 2px;
    border-style: solid;
    border-color: rgba(90, 90, 90, 135);
    border-radius: 2px;

    font: 12pt;
    text-align: center;

    selection-background-color: #00aaff;
}

QPlainTextEdit {
    background: rgba(40, 40, 40, 135);
    height: 30px;

    border-width: 2px;
    border-style: solid;
    border-color: rgba(90, 90, 90, 135);
    border-radius: 2px;

    font: 12pt;
    text-align: center;

    selection-background-color: #00aaff;
}

/* 复杂控件样式 */

QScrollArea {
    border: 0px solid;
    border-right-width: 0px;
    background: transparent;
}


QScrollBar:vertical {
    border-radius: 2px;
    border: rgba(65, 65, 65, 135);
    background: rgba(65, 65, 65, 135);
    width: 13px;
    margin: 0px 0 0px 0;
}

QScrollBar:horizontal {
    border-radius: 2px;
    border: rgba(65, 65, 65, 135);
    background: rgba(65, 65, 65, 135);
    height: 13px;
    margin: 0px 0 0px 0;
}

QScrollBar:handle:vertical {
    background: rgb(99, 99, 99, 135);
}

QScrollBar:handle:vertical:hover {
    background: rgb(33, 33, 33, 135);
}


QScrollBar::handle:horizontal {
    background: rgb(99, 99, 99, 135);
}


QScrollBar::handle:horizontal:hover {
    background: rgb(33, 33, 33, 135);
}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical,
QScrollBar::add-line:horizontal,
QScrollBar::sub-line:horizontal {
    border: 0px solid rgba(65, 65, 65, 135);
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical,
QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
    background: rgba(65, 65, 65, 135);
    width: 0px;
    height: 0px;
}

/* 基础控件样式 */

/* QSlider */
QSlider {
    background: transparent;
    height: 10px;
}


QSlider::groove:horizontal {
    height: 4px;
    left: 6px;
    right: 6px;
    background: rgba(40, 40, 40, 135);
    border-radius: 2px;
}

QSlider:handle {
    width: 10px;
    margin-top: -3px;
    margin-left: -3px;
    margin-bottom: -3px;
    margin-right: -3px;
    background: #fafafa;
    border-radius: 5px;
}

/* QFrame */

QFrame HLine, QFrame VLine {
    background-color: #626262;
    color: #000000;
}

/* QLabel */
QLabel {
    background: transparent;
}

/* QComboBox */
QComboBox {
    background: #5a5a5a;
    height: 30px;
}

/* QRadioButton */
QRadioButton {
    background: transparent;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

QRadioButton:indicator {
    width: 8px;
    height: 8px;
    background: rgba(40, 40, 40, 135);
    border-radius: 4px;
}

QRadioButton:indicator:checked {
    background: #fafafa;
}

/*QCheckBox*/
QCheckBox {
    background: transparent;
    icon-size: 30px;
}

QCheckBox:indicator {
    width: 8px;
    height: 8px;
    background: rgba(40, 40, 40, 135);
    border-radius: 4px;
}

QCheckBox:indicator:checked {
    background: #fafafa;
}

/* QLineEdit */
QLineEdit {
    background: rgba(40, 40, 40, 135);
    height: 30px;

    border-width: 2px;
    border-style: solid;
    border-color: rgba(90, 90, 90, 135);
    border-radius: 2px;

    selection-background-color: #00aaff;
}


/* QSpinBox */
QSpinBox {
    background-color: rgba(40, 40, 40, 135);
    height: 30px;
}

/* QPushButton */
QPushButton {
    min-height: 30px;
    min-width: 30px;
    background: rgba(90, 90, 90, 135);
    border-radius: 2px;
    color: #fafafa;
    border: 2px solid rgba(90, 90, 90, 135);
}

QPushButton:hover {
    background-color: rgba(65, 65, 65, 135);
    color: #fafafa;
}

/*Outer*/
#cpform_checkbox {
    background: transparent;
}

#cpform_checkbox:indicator {
    width: 0px;
    height: 0px;
    background: transparent;
    border-radius: 0px;
}